/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Apr, 2022, 11:18:36 AM
    Author     : Dhruv
*/

.nav-bar{
    background-color: white;
    width: 100%;
    height: 60px;
}

body{
    background-color: #f8f9fc;
}

.table_header{
    font-size: 30px;
    color: #001730;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: -50px;
}

.table_footer{
    font-size: 20px;
    color: #001730;
    margin-left: 10px;
    margin-top: 25px;
}

.view_detalis{
    color: #007aff !important;
    cursor: pointer;
}

.insert_btn{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #0a84ff;
    color: #fff;
}

.nav-link{
    height: 100%;
    font-size: 30px;
    color: #bfbfbf;
    font-weight: 500;
    cursor: pointer;
}
.nav-link-active{
    height: 100%;
    font-size: 30px;
    font-weight: 700;
    color: #00dc80;
}

.main-body{
    background-color: #001730;;
}

.nav{
    height: 100%;
    padding-left: 2%;
}


.rows{
    font-size: 22px;
    text-align: center;
    color: #616161;
}

.row1-col1{
    background-color: #f8f9fc;
}

.table_row{
    border: 0.5px solid rgba(0,0,0,0.1);
    box-shadow: 8px 8px 5px #e9eef7;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height:60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
